.first-page {
  display: flex;
  flex-wrap: wrap;
}
.logo {
  padding: 30px;
}
.left-section {
  background-color: #e95258;
  width: 50%;
  color: white;
  height: 100vh;
  display: inline;
}

.right-section {
  width: 50%;
  height: 100vh;
  display: inline-block;
}
.left-section div img {
  padding-top: 145px;
}
.mother-container {
  display: flex;
  padding-top: 100px;
}
.content-left {
  text-align: right;
  padding-right: 100px;
  flex-direction: column;
  display: flex;
  gap: 100px;
}
.content-left h1 {
  font-size: 28px;
  text-align: right;
}
.content-left p {
  font-size: 14px;
  text-align: right;
}
.content-left ul {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.btn {
  max-width: 160px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.btn-white {
  border-color: white;
  color: white;
}

.btn-white:hover {
  background: white;
  color: #e84e4e;
}
.content-right {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-left: 100px;
}
.left-right {
  display: flex;
  padding-top: 150px;
}
.btn-red {
  border-color: #e84e4e;
  color: #e84e4e;
}

.btn-red:hover {
  background: #e84e4e;
  color: white;
}
.content-right h1 {
  font-size: 28px;
}
.content-right p {
  font-size: 14px;
}
.content-right ul {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.icons {
  padding-top: 30px;
  padding-left: 100px;
  cursor: pointer;
}
.icons img:hover {
  opacity: 0.7;
}
@media  (min-width:768px) and (max-width:1024px) {
  
}
