nav ul {
  display: flex;
  gap: 30px;
  padding-left: 60px;
  padding-top: 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  nav ul {
    gap: 5px;
  }
  nav ul li {
    font-size: 14px;
  }
}
@media (max-width: 768px){
    nav ul{
        display: none;
    }
}
